<!doctype html>
<!-- Добавить: xmlns:th="http://www.thymeleaf.org" -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- th:fragment="fragments/head.html = фаил фрагмента. head = название блока фрагмента-->
<head th:replace="fragments/head.html :: head"></head>

<body>

<!-- th:fragment="fragments/head.html = фаил фрагмента. navigation = название блока фрагмента-->
<nav th:replace="fragments/head.html :: navigation"></nav>

<div class="container">
    <div class="row py-2">
        <p th:text="${message}">Error message</p>
    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"></th:block>

</body>
</html>
