<!doctype html>
<!-- Добавить: xmlns:th="http://www.thymeleaf.org" -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- th:fragment="fragments/head.html = фаил фрагмента. head = название блока фрагмента-->
<head th:replace="fragments/head.html :: head"></head>

<body>

<!-- th:fragment="fragments/head.html = фаил фрагмента. navigation = название блока фрагмента-->
<nav th:replace="fragments/head.html :: navigation"></nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <!-- Добавить: th:object="${product} - объект, которые обрабатываем. th:field="*{name} - поле" -->
            <form th:action="@{/product}" th:method="post" th:object="${product}">
                <input th:field="*{id}" type="hidden" id="id" name="id">
                <div class="form-group">
                    <label>Name product</label>
                    <input th:field="*{name}" type="text" class="form-control" id="name" name="name"
                           placeholder="Enter name product">
                    <!-- Валидация на уровне сервера th:if="${#fields.hasErrors('name') - отображаем если есть ошибка валиадации поля  name
                    th:errors="*{name}" - выволдим ошибку для этого поля name -->
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="form-group">
                    <label>Cost</label>
                    <input th:field="*{cost}" type="text" class="form-control" id="cost" name="cost"
                           placeholder="Enter cost of product ">
                    <!-- Валидация для поля cost -->
                    <p class="text-danger" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<!-- th:fragment="fragments/footer.html = фаил фрагмента. scripts = название блока фрагмента-->
<th:block th:replace="fragments/footer.html :: scripts"></th:block>

</body>

</html>
