<!doctype html>
<!-- Добавить: xmlns:th="http://www.thymeleaf.org" -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- рагмент в fragments, который имеет название блока = head -->
<head th:replace="fragments/head.html :: head"></head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EShop</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">List</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row py-2">
        <p>Welcome the main page!</p>
    </div>
</div>

<!-- рагмент в fragments, который имеет название блока = scripts -->
<th:block th:replace="fragments/footer.html :: scripts">
</th:block>

</body>
</html>
