<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="main.java.ru.geekbrains" />
    <!-- для анализа свое аннатации своя аннатация @DeprecatedClass -->
    <bean class="main.java.ru.geekbrains.annatation.DeprecationHandlerBeanFactoryPostprocessor" />
    <!-- для анализа свое аннатации своя аннатация @PostProxy -->
    <bean class="main.java.ru.geekbrains.annatation.PostProxyInvokerContextListener" />
    <!-- для анализа свое аннатации своя аннатация @Profiling -->
    <bean class="main.java.ru.geekbrains.annatation.ProfilingHandlerbeanPostProcessor" />
    <!-- для анализа свое аннатации @InjectRandomInt -->
    <bean class="main.java.ru.geekbrains.annatation.InjectRandomIntAnnotationBeanPostprocessor"/>

    <bean id="qouter" class="main.java.ru.geekbrains.qouters.QouterImpl">
        <property name="message" value="It's goot day to day!" />
    </bean>
</beans>